@import "./components/mixin";
@import "./components/responsive";
@import "./components/variables";

* {
  font-family: Arial, Helvetica, sans-serif;
}

.hola {
  background-image: url("../assets/coding.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  padding: 50px 25px;
  &__mundo {
    color: whitesmoke;
    background-color: black;
    padding: 5px 50px;
    font-size: 80px;
  }
}

.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__element {
    display: inline-block;
  }

  &__link {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: black;
    &:hover {
      color: black;
      cursor: pointer;
    }

    &:visited {
      color: grey;
    }
  }
}
